[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.10"
django-extensions = "==1.9.7"
celery = "*"
gunicorn = "*"
boto3 = "*"
django-pdb = "*"
django-debug-toolbar = "*"
django-querycount = "*"
airbrake = "==2.1.0"
django-silk = "==3.0.1"
service_identity = "==17.0.0"
Werkzeug = "*"
dj-database-url = "*"
psycopg2 = "*"
drf-generators = "*"
djangorestframework = "*"
django-celery-results = "*"
django-advanced-filters = "*"
django-autofixture = "*"
psycopg2-binary = "*"
django-otp = "*"
django-json-widget = "*"
django-controlcenter = "*"
django-speedinfo = "*"

[requires]
python_version = "3.7"
