Django==2.0.4
django_extensions==1.9.7

celery
psycopg2-binary==2.8.3
djangorestframework


# channels
channels==2.1.1
channels-redis==2.1.1
service-identity==17.0.0


# development
gunicorn
boto3
django-pdb
Werkzeug
django-debug-toolbar
django-querycount

# monitoring
airbrake==2.1.0
django-silk==3.0.1
dj_database_url
drf_generators
django-speedinfo==1.4.0
django_json_widget
django_otp
django-admin-honeypot

django-advanced-filters==1.1.1
django-controlcenter==0.3.0
