airbrake==2.1.0
dj-database-url
django==2.2.13
django-advanced-filters
django-autofixture
django-celery-results
django-controlcenter
django-debug-toolbar
django-extensions==1.9.7
django-json-widget
django-otp
django-pdb
django-querycount
django-silk==3.0.1
django-speedinfo
djangorestframework
drf-generators
gunicorn
psycopg2-binary
sentry-sdk==1.14.0
service-identity==17.0.0
werkzeug
whitenoise==5.2.0
