{% extends "admin/change_list.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock %}


{% block content %}
    <div style="width: 80%;">
        <canvas id="bookStats"></canvas>
    </div>

    <script>
    var ctx = document.getElementById('bookStats').getContext('2d');
    var data = {{ data | safe }};
    var chartData = {{ chart_data | safe }};
    var chartLabels = {{chart_labels | safe}};
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: chartLabels,
            datasets: [{
                label: 'Books',
                data: chartData
            }]
        },
    });
    </script>

    {{ block.super }}
{% endblock %}
